<div class="container" *ngIf="verEntrega">
    <div class="title">
        <span>RESUMO DA ENTREGA</span>
    </div>
    <span class="no-content" *ngIf="!entrega">Nenhuma entrega ativa</span>
    <div class="info-entrega" *ngIf="entrega">
        <span><b>Obra: </b>{{ entrega.obraDesc }}</span>
        <span><b>Quantidade: </b>{{ entrega.quantidade }}m&#179;</span>
        <span><b>Status: </b>
            {{ 
                entrega.status == 'TRANSITO' ? 'Em rota de entrega' : entrega.status == 'PENDENTE' ? 'Pendente' : 'Entregue'
            }}
        </span>
    </div>
    <div class="title" style="border-radius: 0; justify-content: space-around;">
        <span>HISTÓRICO DE ROTAÇÃO</span>
        <button class="btn-refresh p-0" (click)="buscaRotacoesByEntrega(null)">
            <i class="fa fa-refresh fa-1x" ></i>
        </button>
    </div>
    <app-loading *ngIf="loading == true"></app-loading>
    <div *ngIf="loading == false">
        <div *ngFor="let rotacao of rotacoes">
            <ul>
                <li>
                 <span>
                    {{ rotacao.momento | date:'HH:mm'}}
                 </span>
                    {{ rotacao.direcao > 0 ? 'MISTURANDO' : rotacao.direcao < 0 ? 'DESCARREGANDO' : 'PARADO' }}
                 </li> 
             </ul>
        </div>
    </div>
</div>