<app-header></app-header>

<div class="container col-sm-12">
    <div class="card mt-5">
        <div class="fs-5 card-header">
            <label>Cadastro</label>
        </div>

        <div class="card-body">
            <app-loading *ngIf="loading"></app-loading>
            <form class="row" *ngIf="!loading" #dispositivos="ngForm" [formGroup]="veiculoForm">

                <div class="col-md-2">
                    <label class="form-label">Identificação</label>
                    <input type="text" class="form-control" id="identificacao" formControlName="identificacao">
                    <div class="valida-campo"  *ngIf="veiculoForm.get('identificacao')?.errors?.['required'] && (veiculoForm.get('identificacao')?.touched || submitted )">
                        <label>Campo obrigatório</label>
                    </div>
                </div>

                <div class="col-md-10 ps-0">
                    <label class="form-label">Descrição</label>
                    <input type="text" class="form-control" id="descricao"formControlName="descricao" [readonly]="this.visualizaVeiculo">
                    <div class="valida-campo"  *ngIf="veiculoForm.get('descricao')?.errors?.['required'] && (veiculoForm.get('descricao')?.touched || submitted )">
                        <label>Campo obrigatório</label>
                    </div>
                </div>

            </form>
        </div>

        <div class="gap-2  d-md-flex justify-content-md-end card-footer">
            <button (click)="voltar()" class="btn btn-secondary">Voltar</button>
            <button type="submit" (click)="cadastrarVeiculo()" class="btn btn-primary">Cadastrar</button>    
        </div>
         
    </div>
</div>

<app-msg-modal [titulo]="titulo" [mensagem]="mensagem" *ngIf="this.msgErro == true">
    <button class="btn btn-primary" (click)="this.msgErro = false">Ok</button>
</app-msg-modal>
  