<app-header></app-header>

<app-monitoramento-entrega
    [verEntrega]="verEntrega"
    [entrega]="entregaSelected"
></app-monitoramento-entrega>

<app-monitoramento-menu
    [veiculos] = "veiculos"
    (veiculoHover)="veiculoHover"
    (veiculoClick)="veiculoSelected($event)"
></app-monitoramento-menu>

<div class="map">
    <google-map #map
                width="100%"
                height="100%"
                [center]="center"
                [options]="mapOptions"
                (mapClick)="moveMap($event)"
                (mapMousemove)="move($event)">
                
                <map-marker *ngFor="let item of veiculos"
                    [position]="{ lat: item.ultimaLocalizacao.latitude, lng: item.ultimaLocalizacao.longitude }"
                    [icon]="veiculoIcon"
                    [label]="{text:  item.ultimaLocalizacao.veiculoId + ' - ' + item.ultimaLocalizacao.velocidade + ' KM/h'}">  
                </map-marker>

                <map-marker *ngFor="let usina of usinas"
                    [position]="{ lat: usina.latitude, lng: usina.longitude }"
                    [icon]="usinaIcon"
                    [label]="usina.descricao">  
                </map-marker>

                <map-circle *ngFor="let usina of usinas"
                    [center]="{ lat: usina.latitude, lng: usina.longitude }"
                    [radius]="usina.raio"
                    [options]="circleOptions">
                </map-circle>

                <map-marker *ngIf="verEntrega && entregaSelected"
                    [position]="{ lat: entregaSelected.latitude, lng: entregaSelected.longitude }"
                    [icon]="entregaIcon"
                    [label]="entregaSelected.obraDesc">
                </map-marker>

                <map-circle *ngIf="verEntrega && entregaSelected"
                    [center]="{ lat: entregaSelected.latitude, lng: entregaSelected.longitude }"
                    [radius]="100"
                    [options]="getCircleOptions()">
                </map-circle>
    </google-map> 
</div>